<div class="main-content has-background-color" data-background-color="#f2f2f2">
    <div class="banner-home banner-home2">
        <div class="container">
            <div class="banner-home2-left">
                <div class="supermartket-owl-carousel" data-number="1" data-margin="0" data-navcontrol="yes" data-dots="yes" data-rtl="yes" data-autoplay="yes" data-loop="yes">
                    <div class="item-slide">
                        <img src="/images/slides/slide4.jpg" alt="banner-img" height="412" width="940">
                        <div class="item-slide-content item-slide-content1 slide2">
                            <h3 class="slide-title">The Victoria Grand Cuisine</h3>
                            <p class="sile-desc">Buy Trendy Design Furniture </p>
                            <a class="button2" href="#">Shop Now</a>
                        </div>
                    </div>
                    <div class="item-slide">
                        <img src="/images/slides/slide5.jpg" alt="banner-img" height="412" width="940">

                        <div class="item-slide-content item-slide-content1 slide1">
                            <h3 class="slide-title">The Victoria Grand Cuisine</h3>
                            <p class="sile-desc">
                                LG 4k UHD features 8.3 milion pixels and four times<br />
                                the resolution of Full HD 1080p.
                            </p>
                            <a class="button1" href="#">Shop Now</a>
                        </div>
                    </div>
                    <div class="item-slide">
                        <img src="/images/slides/slide6.jpg" alt="banner-img" height="412" width="940">
                        <div class="item-slide-content item-slide-content1 slide3">
                            <h3 class="slide-title">The Victoria Grand Cuisine</h3>
                            <p class="sile-desc">
                                LG 4k UHD features 8.3 milion pixels<br />
                                and four times the resolution.
                            </p>
                            <a class="button3" href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="banner-home2-bottom">
                    <div class="banner-home2-title">
                        <h5 class="title-left">تخفیف روزانه</h5>
                        <div class="block-title ">
                            <i class="flaticon-timer"></i>
                            <div class="deals-of-countdown">
                                <div class="count-down-time" data-countdown="2017/8/29 23:59:43" dir="ltr"></div>
                            </div>
                        </div>
                        <a href="#">لیست کامل<i aria-hidden="true" class="fa fa-angle-double-left"></i></a>
                    </div>
                    <div class="product-list">
                        <div class="product-list-content">
                            <div class="product-media">
                                <figure><a href="#"><img src="/images/t6.jpg" alt="feature" width="200" height="193"></a></figure>
                            </div>
                            <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                            <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                            <ul class="product-item-actions">
                                <li><a href="#"><i class="flaticon-like"></i></a></li>
                                <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                                <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-list-content">
                            <div class="product-media">
                                <figure><a href="#"><img src="/images/t7.jpg" alt="feature" width="200" height="193"></a></figure>
                            </div>
                            <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                            <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                            <ul class="product-item-actions">
                                <li><a href="#"><i class="flaticon-like"></i></a></li>
                                <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                                <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-list-content">
                            <div class="product-media">
                                <figure><a href="#"><img src="/images/t8.jpg" alt="feature" width="200" height="193"></a></figure>
                            </div>
                            <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                            <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                            <ul class="product-item-actions">
                                <li><a href="#"><i class="flaticon-like"></i></a></li>
                                <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                                <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-list-content">
                            <div class="product-media">
                                <figure><a href="#"><img src="/images/t9.jpg" alt="feature" width="200" height="193"></a></figure>
                            </div>
                            <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                            <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                            <ul class="product-item-actions">
                                <li><a href="#"><i class="flaticon-like"></i></a></li>
                                <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                                <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-list-content">
                            <div class="product-media">
                                <figure><a href="#"><img src="/images/t10.jpg" alt="feature" width="200" height="193"></a></figure>
                            </div>
                            <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                            <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                            <ul class="product-item-actions">
                                <li><a href="#"><i class="flaticon-like"></i></a></li>
                                <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                                <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-home2-right">
                <div class="banner-asblute">
                    <ul class="list-banner">
                        <li class="banner-item banner-item-h2-1">
                            <h5 class="banner-item-title">Sound</h5>
                            <p class="banner-item-desc">
                                Headphone<br />CDs 4000
                            </p>
                            <a href="#" class="banner-item-link">Shop now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </li>
                        <li class="banner-item banner-item-h2-2">
                            <h5 class="banner-item-title">Electrolux</h5>
                            <p class="banner-item-desc">
                                ECM3200 EasySense<br />Vacuum cleaner
                            </p>
                            <a href="#" class="banner-item-link">Shop now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </li>
                        <li class="banner-item banner-item-h2-3">
                            <h5 class="banner-item-title">Smartphone</h5>
                            <p class="banner-item-desc">
                                Solution for your<br />Acer Smarphone
                            </p>
                            <a href="#" class="banner-item-link">Shop now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </li>
                        <li class="banner-item banner-item-h2-4">
                            <h5 class="banner-item-title">Sound</h5>
                            <p class="banner-item-desc">
                                Headphone<br />CDs 4000
                            </p>
                            <a href="#" class="banner-item-link">Shop now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </li>
                        <li class="banner-item banner-item-h2-5">
                            <h5 class="banner-item-title">Electrolux</h5>
                            <p class="banner-item-desc">
                                ECM3200 EasySense<br />Vacuum cleaner
                            </p>
                            <a href="#" class="banner-item-link">Shop now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section id="section8">
        <div class="container">
            <!-- Products Slide-->
            <div class="products-slide-wrap">
                <div class="product-slide-title">
                    <h5 class="title-left">لوازم خانگی</h5>
                    <a href="#" class="button-link">لیست کامل <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                </div>
                <div class="products-slide supermartket-owl-carousel" data-number="6" data-margin="0" data-navcontrol="yes" data-rtl="yes" data-autoplay="yes" data-loop="yes">
                    <div class="product-list-content">
                        <div class="product-media">
                            <figure><a href="#"><img src="/images/p2-h2-1.jpg" alt="pr-h2" width="182" height="213"></a></figure>
                        </div>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <div class="product-media">
                            <figure><a href="#"><img src="/images/p2-h2-2.jpg" alt="pr-h2" width="182" height="213"></a></figure>
                        </div>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <div class="product-media">
                            <figure><a href="#"><img src="/images/p2-h2-3.jpg" alt="pr-h2" width="182" height="213"></a></figure>
                        </div>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <div class="product-media">
                            <figure><a href="#"><img src="/images/p2-h2-4.jpg" alt="pr-h2" width="182" height="213"></a></figure>
                        </div>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <div class="product-media">
                            <figure><a href="#"><img src="/images/p2-h2-5.jpg" alt="pr-h2" width="182" height="213"></a></figure>
                        </div>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <div class="product-media">
                            <figure><a href="#"><img src="/images/p2-h2-6.jpg" alt="pr-h2" width="182" height="213"></a></figure>
                        </div>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <div class="product-media">
                            <figure><a href="#"><img src="/images/p2-h2-4.jpg" alt="pr-h2" width="182" height="213"></a></figure>
                        </div>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End .feature-products -->
        </div>
    </section>
    <section id="section92">
        <div class="container">
            <!-- Products Slide-->
            <div class="products-slide-wrap">
                <div class="product-slide-title">
                    <h5 class="title-left">موبایل</h5>
                    <a href="#" class="button-link">لیست کامل <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                </div>
                <div class="products-slide supermartket-owl-carousel" data-number="6" data-margin="0" data-navcontrol="yes" data-rtl="yes" data-autoplay="yes" data-loop="yes">
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-7.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-8.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-9.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-10.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-11.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-12.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-10.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section10">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 padding-right5">
                    <div data-wow-delay="0.6s" class="banner-text wow zoomIn">
                        <figure><a href="#"><img alt="" src="/images/bn-h2.jpg"></a></figure>
                    </div>
                </div>
                <div class="col-sm-6 padding-left5">
                    <div data-wow-delay="0.6s" class="banner-text wow zoomIn">
                        <figure><a href="#"><img alt="" src="/images/bn-h22.jpg"></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section11">
        <div class="container">
            <!-- Products Slide-->
            <div class="products-slide-wrap">
                <div class="product-slide-title">
                    <h5 class="title-left">دوربین</h5>
                    <a href="#" class="button-link">لیست کامل <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                </div>
                <div class="products-slide supermartket-owl-carousel" data-number="6" data-margin="0" data-navcontrol="yes" data-rtl="yes" data-autoplay="yes" data-loop="yes">
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-13.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-20.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-13.jpg" alt="pr-h2-21" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-22.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-23.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-24.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-21.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End .feature-products -->
        </div>
    </section>
    <section id="section12">
        <div class="container">
            <!-- Products Slide-->
            <div class="products-slide-wrap">
                <div class="product-slide-title">
                    <h5 class="title-left">ساعت و لوازم جانبی</h5>
                    <a href="#" class="button-link">لیست کامل <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                </div>
                <div class="products-slide supermartket-owl-carousel" data-number="6" data-margin="0" data-navcontrol="yes" data-rtl="yes" data-autoplay="yes" data-loop="yes">
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-14.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-15.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-16.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-17.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-18.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-16.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-list-content">
                        <figure><img src="/images/p2-h2-19.jpg" alt="pr-h2" width="182" height="213"></figure>
                        <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                        <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                        <ul class="product-item-actions">
                            <li><a href="#"><i class="flaticon-like"></i></a></li>
                            <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section13">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 padding-right5">
                    <div data-wow-delay="0.6s" class="banner-text wow zoomIn">
                        <figure><a href="#"><img alt="" src="/images/bn-h23.jpg"></a></figure>
                    </div>
                </div>
                <div class="col-sm-6 padding-left5">
                    <div data-wow-delay="0.6s" class="banner-text wow zoomIn">
                        <figure><a href="#"><img alt="" src="/images/bn-h24.jpg"></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section14">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="icon-box style1">
                        <div class="row">
                            <div class="col-md-4">
                                <i class="flaticon-umbrella"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="icon-box-content">
                                    <h4>Buyer Protection</h4>
                                    <p>
                                        Secure payments
                                        Guaranteed refunds
                                        Escrow protection on every oder
                                    </p>
                                    <a href="#">Read More<i aria-hidden="true" class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box style1">
                        <div class="row">
                            <div class="col-md-4">
                                <i class="flaticon-return-of-investment"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="icon-box-content">
                                    <h4>RETURN &amp; EXCHANGE</h4>
                                    <p>
                                        Wholesale products from certified
                                        Worldwide shipping
                                        Low prices from US $0.1
                                    </p>
                                    <a href="#">Read More<i aria-hidden="true" class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box style1">
                        <div class="row">
                            <div class="col-md-4">
                                <i class="flaticon-transport"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="icon-box-content">
                                    <h4>FREE DELIVERY</h4>
                                    <p>
                                        Wholesale products from certified
                                        Worldwide shipping
                                        Low prices from US $0.1
                                    </p>
                                    <a href="#">Read More<i aria-hidden="true" class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
