<div class="menu-primary">
    <div class="container">
        <a href="#categories-menu" class="menu-button categories-menu-button">
            دسته بندی ها<span class="flaticon-bars"></span>
        </a>
        <nav class="menu-item has-mega-menu" id="categories-menu">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">دسته بندی ها</a>
                    <span class="click-categories flaticon-bars"></span>
                    <div class="category-drop-list">
                        <div class="category-drop-list-inner">
                            <ul class="sub-menu sub-menu-open">
                                <li class="menu-item"><a href="#">لوازم برقی</a></li>
                                <li class="menu-item"><a href="#">اسمارت فون و تبلت</a></li>
                                <li class="menu-item"><a href="#">تلویزیون</a></li>
                                <li class="menu-item"><a href="#">Shoes & Accessories</a></li>
                                <li class="menu-item"><a href="#">Camera & Photo</a></li>
                                <li class="menu-item"><a href="#">Watch & Jewellry</a></li>
                                <li class="menu-item"><a href="#">Accessories</a></li>
                                <li class="menu-item"><a href="#">Sport & Outdoors</a></li>
                                <li class="menu-item"><a href="#">Computer & Networking </a></li>
                                <li class="menu-item"><a href="#">Flashlights & Lamps</a></li>
                                <li class="menu-item"><a href="#">Fashion & Accecssories</a></li>
                                <li class="menu-item"><a href="#">Watch & Shoes</a></li>
                                <li class="menu-item"><a href="#">Flashlights & Lamps</a></li>
                                <li class="menu-item"><a href="#">Fashion & Accecssories</a></li>
                                <li class="menu-item"><a href="#">Watch & Shoes</a></li>
                            </ul>
                            <span class="more-categories open-cate">مشاهده موارد بیشتر</span>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <a href="#primary-navigation" class="menu-button primary-navigation-button">
            <span class="flaticon-bars"></span>منو اصلی
        </a>
        <nav id="primary-navigation" class="site-navigation main-menu">
            <ul id="primary-menu" class="menu">
                <li class="menu-item active">
                    <a href="/">خانه</a>
                </li>
                <li class="menu-item"><a href="#">New Arrival</a></li>
                <li class="menu-item"><a href="#">Deals</a></li>
                <li class="menu-item has-childrent">
                    <a href="#">Shop</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="categories-grid.html">Categories Grid 1</a></li>
                        <li class="menu-item"><a href="category-grid-right-sidebar.html">Categories Grid 1 Right Sidebar</a></li>
                        <li class="menu-item"><a href="categories-grid2.html">Categories Grid 2</a></li>
                        <li class="menu-item"><a href="categories-grid2-right-sidebar.html">Categories Grid 2 Right Sidebar</a></li>
                        <li class="menu-item"><a href="categories-grid3.html">Categories Grid 3</a></li>
                        <li class="menu-item"><a href="categories-list1.html">Categories List 1</a></li>
                        <li class="menu-item"><a href="categories-list1-right-sidebar.html">Categories List 1 Right Sidebar</a></li>
                        <li class="menu-item"><a href="categories-list2.html">Categories List 2</a></li>
                        <li class="menu-item"><a href="categories-list2-right-sidebar.html">Categories List 2 Right Sidebar</a></li>
                    </ul>
                </li>


                <li class="menu-item has-childrent">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="blogpost.html">Blog Post</a></li>
                        <li class="menu-item"><a href="product-detail.html">Product Detail</a></li>
                        <li class="menu-item"><a href="shopping-carrt.html">Cart</a></li>
                        <li class="menu-item"><a href="checkout.html">Check Out</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="/AboutUs">درباره ما</a>
                </li>
                <li class="menu-item">
                    <a href="/ContactUs">تماس با ما</a>
                </li>
                <li class="menu-item"><a href="blog.html">بلاگ</a></li>
            </ul>
        </nav>
    </div>
</div>